<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/commonHeader'); %>
        <link href="/./admin/utils/assets/plugins/flatpickr/flatpickr.min.css" rel="stylesheet" />
</head>
<body>
    <div class="app align-content-stretch d-flex flex-wrap">
        <%- include('../common/commonLoader'); %>
         <%- include('../common/commonSidebar' , {sidebarData :
            sidebarDataByServer}); %>
        
            <div class="app-container">
                <div class="d-flex flex-column ">
                    <div class="app-content">
                        <h1 class="application-title pb-1">
                            Add Admin Users
                        </h1>
                        <div class="top-btns">
                            <button onclick="addNewAdminUser()" class="ci-btn ci-btn-green" id="update">Add</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="card bg-card">
                            <form >
                                <div class="ci-card-body  card-body">
                                    <div class="col-12 shadowBox p-4" id="left-form">
                                        <div class="">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="adminName" class="form-label">User Name*</label>
                                                    <input type="text" class="form-control" id="adminUserName" name="adminUserName" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="adminEmail" class="form-label">Email*</label>
                                                    <input type="email" class="form-control" id="adminEmail" name="adminEmail" required />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="adminPassword" class="form-label">Password*</label>
                                                    <input autocomplete=false type="password" class="form-control" id="adminPassword" name="adminPassword"
                                                        required />
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="" class="form-label">User Role*</label>
                                                    <select class="form-select" aria-label="Select User Roles" id="userAdminRolesHere" required>
                                                        <option value="0" selected>Select User Role</option>
                                                    </select>
                                                </div>
                        
                                            </div>
                                            <div class="row">
                        
                                                <div class="col-md-2 py-3">
                                                    <div class="form-check">
                        
                                                        <label class="form-check-label" for="new_active_user">
                                                            Active user
                                                        </label>
                                                        <input class="form-check-input" type="checkbox" value="" class="form-check-input"
                                                            name="new_active_user" id="new_active_user" required>
                                                    </div>
                        
                                                </div>
                                            </div>
                                            <br />
                                            <div id="errorShow"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                 
                </div>
                <!-- Javascripts -->
                <script src="/./admin/utils/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
                <script src="/./admin/utils/assets/plugins/bootstrap/js/popper.min.js"></script>
                <script src="/./admin/utils/assets/plugins/flatpickr/flatpickr.js"></script>
                <script src="/./admin/utils/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
                <script src="/./admin/utils/assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
                <script src="/./admin/utils/assets/js/main.min.js"></script>
                <script src="/./admin/utils/assets/js/custom.js"></script>
                <script src="/./admin/utils/assets/js/users/addNewUserAdmin.js"></script>

</body>
</html>
