<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/commonHeader'); %>
</head>

<body>
    <div class="app app-error align-content-stretch d-flex flex-wrap">
        <div class="app-error-info">
            <h5>Oops!</h5>
            <span>It seems that the page you are looking for no longer exists.<br>
                We will try our best to fix this soon.</span>
            <a href="/" class="btn btn-dark">Go to dashboard</a>
        </div>
        <div class="app-error-background"></div>
    </div>

    <!-- Javascripts -->
    <script src="/./app/utils/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="/./app/utils/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/./app/utils/assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
    <script src="/./app/utils/assets/plugins/pace/pace.min.js"></script>
    <script src="/./app/utils/assets/js/main.min.js"></script>
    <script src="/./app/utils/assets/js/custom.js"></script>
</body>

</html>