<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./common/head'); %>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
      <link href="/frontend/assets/css/account.css" rel="stylesheet" type="text/css" />
   </head>
   <body style="background: #eee;">
      <%- include('./common/header'); %>
      <section class="acoout-seting-tab">
         <div class="container py-4">
            <div class="row">
               <div class="col-md-3">
                  <!-- Tabs nav -->
                  <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                     <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill"
                        href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                     <i class="fa fa-user-circle  mr-2"></i>
                     <span class="font-weight-bold small text-uppercase">Personal information</span></a>
                     <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill"
                        href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">
                     <i class="fa fa-inr mr-2"></i>
                     <span class="font-weight-bold small text-uppercase">Accounts Deatils</span></a>
                     <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill"
                        href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">
                     <i class="fa fa-bank mr-2"></i>
                     <span class="font-weight-bold small text-uppercase">Payment History</span></a>
                  </div>
               </div>
               <div class="col-md-9">
                  <!-- Tabs content -->
                  <div class="tab-content" id="v-pills-tabContent">
                     <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home"
                        role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <h4 class="mb-4">Personal information</h4>
                        <form id="kt_ecommerce_settings_general_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                           <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span class="required">Name</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's name." data-bs-original-title="Enter the contact's name." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" name="name" value="">
                                    <!--end::Input-->
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                 </div>
                              </div>
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span>Company Name</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's company name (optional)." data-bs-original-title="Enter the contact's company name (optional)." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" name="company_name" value="">
                                    <!--end::Input-->
                                 </div>
                                 <!--end::Input group-->
                              </div>
                           </div>
                           <!--begin::Row-->
                           <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span class="required">Email</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's email." data-bs-original-title="Enter the contact's email." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="email" class="form-control form-control-solid" name="email" value="">
                                    <!--end::Input-->
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                 </div>
                                 <!--end::Input group-->
                              </div>
                              <!--end::Col-->
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span>Phone</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's phone number (optional)." data-bs-original-title="Enter the contact's phone number (optional)." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" name="phone" value="">
                                    <!--end::Input-->
                                 </div>
                                 <!--end::Input group-->
                              </div>
                              <!--end::Col-->
                           </div>
                           <!--end::Row-->
                           <div class="row">
                              <div class="col-md-12 text-center mt-10">
                                 <!--begin::Button-->
                                 <button type="submit" data-kt-contacts-type="submit" class="btn btn-primary">
                                 Save
                                 </button>
                                 <!--end::Button-->
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <h4 class="mb-4">Accounts Deatils</h4>
                        <form id="kt_ecommerce_settings_general_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                           <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span class="required">Name</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's name." data-bs-original-title="Enter the contact's name." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" name="name" value="">
                                    <!--end::Input-->
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                 </div>
                              </div>
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span>Bank Name</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's company name (optional)." data-bs-original-title="Enter the contact's company name (optional)." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" name="company_name" value="">
                                    <!--end::Input-->
                                 </div>
                                 <!--end::Input group-->
                              </div>
                           </div>
                           <!--begin::Row-->
                           <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span class="required">IFSC</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's email." data-bs-original-title="Enter the contact's email." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="email" class="form-control form-control-solid" name="email" value="">
                                    <!--end::Input-->
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                 </div>
                                 <!--end::Input group-->
                              </div>
                              <!--end::Col-->
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span>Account Number</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's phone number (optional)." data-bs-original-title="Enter the contact's phone number (optional)." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" name="phone" value="">
                                    <!--end::Input-->
                                 </div>
                                 <!--end::Input group-->
                              </div>
                              <!--end::Col-->
                           </div>
                           <!--end::Row-->
                           <div class="row">
                              <div class="col-md-12 text-center mt-10">
                                 <!--begin::Button-->
                                 <button type="submit" data-kt-contacts-type="submit" class="btn btn-primary">
                                 Save
                                 </button>
                                 <!--end::Button-->
                              </div>
                           </div>
                        </form>
                        <h4 class="mb-4">UPI Deatils</h4>
                        <form id="kt_ecommerce_settings_general_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
                           <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span class="required">Name</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's email." data-bs-original-title="Enter the contact's email." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" name="email" value="">
                                    <!--end::Input-->
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                 </div>
                                 <!--end::Input group-->
                              </div>
                              <!--end::Col-->
                              <!--begin::Col-->
                              <div class="col">
                                 <!--begin::Input group-->
                                 <div class="fv-row">
                                    <!--begin::Label-->
                                    <label class="fs-6 fw-semibold form-label mt-3">
                                    <span>UPI Id</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="Enter the contact's phone number (optional)." data-bs-original-title="Enter the contact's phone number (optional)." data-kt-initialized="1"></i>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control form-control-solid" name="phone" value="">
                                    <!--end::Input-->
                                 </div>
                                 <!--end::Input group-->
                              </div>
                              <!--end::Col-->
                           </div>
                           <!--end::Row-->
                           <div class="row">
                              <div class="col-md-12 text-center mt-10">
                                 <!--begin::Button-->
                                 <button type="submit" data-kt-contacts-type="submit" class="btn btn-primary">
                                 Save
                                 </button>
                                 <!--end::Button-->
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="tab-pane fade shadow rounded bg-white p-5" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <h4 class="font-italic mb-4">Payment Details</h4>
                        <p class="font-italic text-muted mb-2">2000 Done By <i class="date">2/01/2023</i> </p>
                        <p class="font-italic text-muted mb-2">2000 Done By <i class="date">2/01/2023</i> </p>
                        <p class="font-italic text-muted mb-2">2000 Done By <i class="date">2/01/2023</i> </p>
                        <p class="font-italic text-muted mb-2">2000 Done By <i class="date">2/01/2023</i> </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-4 col-xs-12">
                  <div class="single_footer">
                     <h4>Services</h4>
                     <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Simply dummy text</a></li>
                        <li><a href="#">The printing and typesetting </a></li>
                        <li><a href="#">Standard dummy text</a></li>
                        <li><a href="#">Type specimen book</a></li>
                     </ul>
                  </div>
               </div>
               <!--- END COL --> 
               <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="single_footer single_footer_address">
                     <h4>Page Link</h4>
                     <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Simply dummy text</a></li>
                        <li><a href="#">The printing and typesetting </a></li>
                        <li><a href="#">Standard dummy text</a></li>
                        <li><a href="#">Type specimen book</a></li>
                     </ul>
                  </div>
               </div>
               <!--- END COL -->
               <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="single_footer single_footer_address">
                     <h4>Subscribe today</h4>
                     <div class="signup_form">
                        <form action="#" class="subscribe">
                           <input type="text" class="subscribe__input" placeholder="Enter Email Address">
                           <button type="button" class="subscribe__btn"><i class="fas fa-paper-plane"></i></button>
                        </form>
                     </div>
                  </div>
                  <div class="social_profile">
                     <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                     </ul>
                  </div>
               </div>
               <!--- END COL -->         
            </div>
            <!--- END ROW --> 
            <div class="row">
               <div class="col-lg-12 col-sm-12 col-xs-12">
                  <p class="copyright">Copyright © 2023 <a href="#">Ci Money</a>.</p>
               </div>
               <!--- END COL -->                 
            </div>
            <!--- END ROW -->                 
         </div>
         <!--- END CONTAINER -->
      </div>
   </body>
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</html>