<div class="dynamic-fields-dropdown">
    <h6 class="dynamic-fields-heading selected-fields-heading">show</h6>
    <div class="draggable-field-container" id="selected-fields-wrapper">
        <!-- <div class="draggable-field selected-field" draggable="true">
            <span>show 1</span>
            <span class="material-icons material-symbols-outlined drag-icon"
                >drag_indicator</span
            >
        </div>
        <div class="draggable-field selected-field" draggable="true">
            <span>show 2</span>
            <span class="material-icons material-symbols-outlined drag-icon"
                >drag_indicator</span
            >
        </div>
        <div class="draggable-field selected-field" draggable="true">
            <span>show 3</span>
            <span class="material-icons material-symbols-outlined drag-icon"
                >drag_indicator</span
            >
        </div>
        <div class="draggable-field selected-field" draggable="true">
            <span>show 4</span>
            <span class="material-icons material-symbols-outlined drag-icon"
                >drag_indicator</span
            >
        </div> -->
    </div>
    <h6 class="dynamic-fields-heading not-selected-fields-heading">hide</h6>
    <div class="draggable-field-container" id="not-selected-fields-wrapper">
        <!-- <div class="draggable-field not-selected-field" draggable="true">
            <span> dShow 1</span>
            <span class="material-icons material-symbols-outlined drag-icon"
                >drag_indicator</span
            >
        </div>
        <div class="draggable-field not-selected-field" draggable="true">
            <span> dShow 2</span>
            <span class="material-icons material-symbols-outlined drag-icon"
                >drag_indicator</span
            >
        </div>
        <div class="draggable-field not-selected-field" draggable="true">
            <span> dShow 3</span>
            <span class="material-icons material-symbols-outlined drag-icon"
                >drag_indicator</span
            >
        </div>
        <div class="draggable-field not-selected-field" draggable="true">
            <span> dShow 4</span>
            <span class="material-icons material-symbols-outlined drag-icon"
                >drag_indicator</span
            >
        </div> -->
    </div>
</div>
