<div class="container-fluid footer bg-primary">
  <div class="footer_first_box">
    <h2 class="text-uppercase">Card Insider</h2>
    <p>
      Compare India's most rewarding credit cards under one roof and pick
      the one that works for you the best.
    </p>
  </div>
  <div class="footer_sec_box">
    <h2 class="text-uppercase">Company</h2>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">BLog</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Term & Conditions</a></li>
    </ul>
  </div>
  <div class="footer_third_box">
    <h2 class="text-uppercase">Contact Info</h2>
    <p>SCO 208, 1st Floor, Sector 14 Panchkula, Haryana 134109</p>
  </div>
</div>