<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">CI MONEY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control search-input" type="search" placeholder="Search for partners or deals"
                aria-label="Search" />
            <button class="btn search-btns" type="submit">Search</button>
        </form>

        <ul class="navbar-nav ml-auto menubars">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-inr" aria-hidden="true"></i> Profit Rates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-link" aria-hidden="true"></i> Make Links</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i> My Profile
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">My Earnings</a>
                    <a class="dropdown-item" href="#">Payment History</a>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>