<div class="app-sidebar">
  <div class="logo" style="display: flex">
      <a href="/">
          <img src="/frontend/assets/images/card-insider-logo.png" class="logo-my" />
          <!-- <a class="nav-link hide-sidebar-toggle-button" href="#"><i
          class="material-icons">first_page</i></a> -->
      </a>
      <div class="nav-item" style="margin-top: 7px">
          <a class="nav-link hide-sidebar-toggle-button" id="hide-sidebar-toggle-button" href="#"><i
                  class="material-icons">first_page</i></a>
      </div>
      <div class="sidebar-user-switcher user-activity-online">
          <a href="#">
              <!--span class="activity-indicator"></span>
              <span class="user-info-text">Chloe<br><span class="user-state-info">On a call</span></span-->
          </a>
      </div>
  </div>
  <div class="app-menu">
      <ul class="accordion-menu">
          <li class="sidebar-title">App</li>
              <li>
                  <a href="">Offers</a>
                  <ul class="sub-menu">
                     
                          <li>
                              <a href="/offers/offersList">
                                  All Offer
                              </a>
                          </li>
                  </ul>
              </li>
              <li>
                  <a href="">Categories</a>
                  <ul class="sub-menu">
                     
                          <li>
                              <a href="/categories/allCategories">
                                  All categories
                              </a>
                          </li>
                  </ul>
              </li>

                  <li class="sidebar-title">Profile</li>
                  <li class="sign-out-c">
                      <a href="/logout"><i class="material-icons-two-tone">exit_to_app</i><span>Sign
                              Out</span></a>
                  </li>
      </ul>
  </div>
</div>